body{
	
}
img{
	float: left;
	margin: 0px auto;
	/*display: block;*/
	width: 50px;
	margin-right: 10px;
}
div{
	background: lightgreen;
	width: 600px;
	float: none;
	overflow: hidden;
	margin: 10px auto;
}